<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  {% if page.path contains '_posts' or page.path contains '_drafts' %}  

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  {% include post_pagination.html %}

  {% else %}
    {% if page.wide %}
    <div class="page-content">
    {% else %}
    <div class="page-content col-sm-8">
    {% endif %}
    {{ content }}
    {% include post_pagination.html %}
  </div>

    {% unless page.wide %}
      {% include sidebar.html %}
    {% endunless %}

  {% endif %}

  {% include footer.html %}

</div>

</body>

</html>
